nav {
  background-color: #333;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 10px;
}

nav a {
  color: white;
  text-decoration: none;
}

div {
  text-align: center;
}

h1 {
  background-color: #a9a9a9;
  font-size: 25px;
  padding: 10px;
  text-align: center;
}

h2 {
  background-color: #1;
  font-size: 20px;
  padding: 10px;
  text-align: center;
}

select {
  background-color: #ff8c00;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

input[type="file"]::file-selector-button {
  background-color: #ff8c00;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

img {
  width: auto; /* This will maintain the aspect ratio of the image */
  height: 165px;
  img-align: center;
}

#chart-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}


footer {
  background-color: #f2f2f2;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}

.footer-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 5px;
}

manual h1 {
  background-color: #1;
  font-size: 30px;
  padding: 20px;
  text-align: center;
}

manual h2 {
  background-color: #1;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

manual h3 {
  background-color: #1;
  font-size: 15px;
  text-align: center;
}

manual p {
  font-size: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

manual img {
  width: 30%; 
  height: auto;/* This will maintain the aspect ratio of the image */
  img-align: center;
}

table, th, td {
  font-size: 12px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border:1px solid black;
}

csl-entry {
  font-size: 15px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  text-justify: inter-word;
}

