<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
	<script type="text/javascript" id="MathJax-script" async
	  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
	</script>
	<title>InfraROB - PMS</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="home">Home</a></li>
		<li><a href="manual">Manual</a></li>
        <li><a href="map">Map</a></li>
		<!-- <li><a href="inspections">Inspections</a></li> -->
		<!-- <li><a href="convert">Convert</a></li> -->
        <!-- <li><a href="markov">Markov</a></li> -->
        <!-- <li><a href="maintenance">Maintenance</a></li> -->
		<li><a href="optimization">Optimization</a></li>
		<li><a href="about">About</a></li>
      </ul>
    </nav>
	<div>
      <img src="{{ url_for('static', filename='logo_infrarob.png') }}" alt="logo_infrarob" />
	  <img src="{{ url_for('static', filename='logo_uminho.png') }}" alt="logo_uminho" />
	</div>
	<h1>{% block title %}Pavement Management System (PMS){% endblock %}</h1>
	<div class="content">
		<content>
			{% block content %} {% endblock %}
		</content>
    </div>
	<footer>
	  <div class="footer-content">
		<h3>About Us</h3>
		<p>This website was developed by University of Minho.</p>
		<h3>Contact Us</h3>
		<p>Email: mbonatte@civil.uminho.com</p>
	  </div>
	</footer>
  </body>
</html>