{% extends 'markov.html' %}

{% block title %}
	Maintenance
{% endblock %}

{% block maintenance_block %}
	<h1> Import maintenance </h1>
	<input type="file" id="maintenanceFile" accept=".json">

	<h1> Maintenance scenario </h1>
	<select id="number-maintenance"  onchange="addActionFields()">
		<option value="">Select the number of maintenance actions:</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="7">8</option>
		<option value="8">8</option>
		<option value="9">9</option>
    </select>
	<div id="maintenance-scenarios"></div>

<script src="{{url_for('static', filename='maintenance.js')}}"></script>
{% endblock %}
	