{% extends 'base.html' %}

{% block title %}
	Map
{% endblock %}

{% block content %}

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>

<map>
    <!-- sidebar -->
    <div id="sidebar">
        <div class="sidebar-icon" id="visualize-mode">
            <img title="Visualize" src="{{ url_for('static', filename='visualize-icon.png') }}" alt="Visualize Mode">
        </div>
        <div class="sidebar-icon" id="prediction-mode">
            <img title="Prediction" src="{{ url_for('static', filename='prediction-icon.png') }}" alt="Prediction Mode">
        </div>
        <div class="sidebar-icon" id="maintenance-mode">
            <img title="Maintenance" src="{{ url_for('static', filename='maintenance-icon.png') }}" alt="Maintenance Mode">
        </div>
        <div class="sidebar-icon" id="optimization-mode">
            <img title="Optimization" src="{{ url_for('static', filename='optimization-icon.png') }}" alt="Optimization Mode">
        </div>
    </div>
    
    <!-- Content -->
    <div id="current-mode">
        <!-- Main content here -->
        <h1></h1>
    </div>
    
    <label>
        <input type="checkbox" checked=True id="show-section-names" style="text-align: left;"> Show Names
    </label>
    <label>
        <input type="checkbox" id="show-grades" style="text-align: left;"> Show Grades
    </label>
    
    <div id="big_div">
        <!-- MAP -->
        <div id='map_container' class="map_container">
            <canvas id="map_canvas" width="600px" height="450px"></canvas>
        </div>
        
        <!-- Road info -->
        <div id="road_info" class="road-info">
        </div>
        
        <!-- Graph -->
        <div id="chart-wrapper">
            <div id='performance_indicators'></div>
            <canvas id="performanceChart" height="70px" width="100px"></canvas>
        </div>
    </div>
    
    <!-- Legend for No FOS -->
    <div id="legend-no-fos" class="legend">
        <div class="legend-item">
            <div class="legend-color" style="background-color: black;"></div>
            <div class="legend-label">No FOS</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: gray;"></div>
            <div class="legend-label">Has FOS</div>
        </div>
    </div>
    
    <!-- Legend for Grade Scale (Initially hidden) -->
    <div id="legend-grade-scale" class="legend">
        <div class="legend-item">
            <div class="legend-color" style="background-color: green;"></div>
            <div class="legend-label">Very well</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: #9ACD32;"></div>
            <div class="legend-label">Good</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: yellow;"></div>
            <div class="legend-label">Medium</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: orange;"></div>
            <div class="legend-label">Poorly</div>
        </div>
        <div class="legend-item">
            <div class="legend-color" style="background-color: red;"></div>
            <div class="legend-label">Very bad</div>
        </div>
    </div>
</map>

<script>
    // Pass the road data to the external JavaScript file
    const roads = {{ roads | tojson | safe }};
    
    const maintenanceActions = {{ maintenanceActions | tojson | safe }};
    
    const legendGradeScale = document.getElementById('legend-grade-scale');
    legendGradeScale.style.display = 'none';
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
<script src="{{url_for('static', filename='map.js')}}"></script>
<script src="{{url_for('static', filename='modes.js')}}"></script>
<script src="{{url_for('static', filename='sidebar.js')}}"></script>

<script>
        // Initialize the map
        const map = L.map('map_container').setView([41.4455, -8.28708], 16);
                       
        // Load a map tile layer (e.g., OpenStreetMap)
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            minZoom: 16,
            maxZoom: 16,
            <!-- bounds: [[41.4443, -8.286], -->
                     <!-- [41.4445, -8.288]] -->
            opacity: 0.3,
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);
        
        // Define bounds (latitude and longitude)
        const northEast = L.latLng(41.447, -8.288);
        const southWest = L.latLng(41.444, -8.286);
        const bounds = L.latLngBounds(southWest, northEast);

        // Set the map's max bounds to restrict panning and zooming
        map.setMaxBounds(bounds)
        

        // Initialize the overlay canvas
        <!-- const overlayCanvas = document.getElementById('overlay'); -->
        <!-- overlayCanvas.width = map.getSize().x; -->
        <!-- overlayCanvas.height = map.getSize().y; -->
        <!-- const overlayContext = overlayCanvas.getContext('2d'); -->
</script>
{% endblock %}
	