{% extends 'base.html' %}


{% block content %}
	<p> Predict the deteroration of the asset based on the Markov method. </p>
	<hr>
	<h2> Choose institution </h2>
	<select id="institution">
	  <option value="">-- Select an institution --</option>
	  <option value="Generic">Generic</option>
	  <option value="ASFiNAG">ASFiNAG</option>
	  <option value="COST_354">COST 354</option>
	</select>
	<div id="worst-best-IC-div" style="display:none;">
	  <li><a href="/inspections/genericdatabase" download>Download an example of a genric database</a></li>
	  <p> The example has the worst and best CI values equal to 0 and 4, respectively.
	  <h3>Select the worst and best IC:</h3>
	  <select id="worst-IC">
		<option value="">Select the worst IC:</option>
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="7">8</option>
		<option value="8">8</option>
		<option value="9">9</option>
	  </select>
	  <select id="best-IC">
		<option value="">Select the best IC:</option>
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="7">8</option>
		<option value="8">8</option>
		<option value="9">9</option>
	  </select>
	</div>
	<div id="asfinag-download-div" style="display:none;">
	  <li><a href="/inspections/asfinagdatabase" download>Download an example of a ASFiNAG database</a></li>
	</div>
	<hr>
	<h2> Import inpections </h2>
    <input type="file" id="inspectionsFile" accept=".csv, .json">
	<hr>
	<h2> Time block </h2>
	  <select id="time-block">
		<option value="">Select the time block:</option>
		<option value="month">Month</option>
		<option value="year">Year</option>
	  </select>
	<hr>
	<h2> Time horizon </h2>
	  <select id="time-horizon">
		<option value="">Select the time horizon:</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	  </select>
	<hr>
	<div class="maintenance_block">
        {% block maintenance_block %} {% endblock %}
    </div>
	<h2> Run analysis </h2>
	  
    <button id="runBtn">Run</button>
    <div id="response"></div>
	<div id="chart-wrapper" height="100px" width="100px">
		<canvas id="myChart"></canvas>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static', filename='markov.js')}}"></script>
{% endblock %}
	