{% extends 'base.html' %}


{% block content %}
	<p> Predict the deteroration of the asset based on the Markov method. </p>
	<hr>
	<h1> Choose institution </h1>
	<select id="institution">
	  <option value="">-- Select an institution --</option>
	  <option value="Generic">Generic</option>
	  <option value="ASFiNAG">ASFiNAG</option>
	  <option value="COST_354">COST 354</option>
	</select>
	<div id="worst-best-IC-div" style="display:none;">
	  <h2>Select the worst and best IC:</h2>
	  <select id="worst-IC">
		<option value="">Select the worst IC:</option>
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="7">8</option>
		<option value="8">8</option>
		<option value="9">9</option>
	  </select>
	  <select id="best-IC">
		<option value="">Select the best IC:</option>
		<option value="0">0</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="7">8</option>
		<option value="8">8</option>
		<option value="9">9</option>
	  </select>
	</div>
	<h1> Import inpections </h1>
    <input type="file" id="inspectionsFile" accept=".csv, .json">
	<h1> Time block </h1>
	  <select id="time-block">
		<option value="">Select the time block:</option>
		<option value="month">Month</option>
		<option value="year">Year</option>
	  </select>
	<h1> Run analysis </h1>
	  <select id="time-horizon">
		<option value="">Select the time horizon:</option>
		<option value="5">5</option>
		<option value="10">10</option>
		<option value="25">25</option>
		<option value="50">50</option>
		<option value="100">100</option>
	  </select>
    <button id="runBtn">Run</button>
    <div id="response"></div>
	<div id="chart-wrapper" height="100px" width="100px">
		<canvas id="myChart"></canvas>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{url_for('static', filename='markov.js')}}"></script>
{% endblock %}
	